<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noticias RSS Personalizadas</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <h1>Resumen de noticias</h1>
    <h2>By: NeymorFeed<h2>

    <!-- Contenedor en forma de grid para todas las noticias -->
    <div class="news-grid">
      {% for news in news_items %}
        <div class="news-card">
          <img 
            src="{{ news.image_url }}" 
            alt="Imagen de la noticia" 
            onerror="this.onerror=null;this.src='https://via.placeholder.com/400x200/444/fff?text=Sin+imagen';"
          >
          <a class="news-title" href="{{ news.link }}" target="_blank">
            {{ news.title }}
          </a>
          <p class="news-meta">
            {{ news.source }} | {{ news.pubDate }}
          </p>
          <p class="news-description">
            {{ news.description | striptags | truncate(150) }}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
